<div class="header pb-8 pt-5 pt-lg-8" style="min-height: 600px; background-image: url(assets/img/theme/suppliers.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <br/><br/>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">{{userName}}</h1>
          <p class="text-white mt-0 mb-5">Esta es la interfaz de proveedores. Podras crear editar entre otros ...</p>
        </div>
      </div>
    </div> 
    

     <!-- Card stats -->
     <div class="container-fluid">
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0" style="background-color: #333364;">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">PROOVEDORES</h5>
                  <span class="h2 font-weight-bold mb-0">
                    
                  </span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-plus bg-danger text-white rounded-circle shadow centerContent">
                    <i class="fas fa-plus"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm" style="cursor: grab;">
                <span class="text-white mr-2" (click)="createSupplier()">
                  <i class="fa fa-arrow-up"></i> Crear Nuevo</span>
                <span class="text-nowrap"></span>
              </p>
            </div>
          </div>
        </div>
   
       
      </div>
    </div>
    
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Tabla de proveedores</h3>
        </div>

        <div class="table-responsive-query" >

          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Ciudad</th>
                <th scope="col">Dirección</th>
                <th scope="col">Vendor</th>
                <th scope="col">Teléfono</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <!--<tr *ngFor="let entity of (entities$ | async)">-->
              <tr *ngFor="let entity of  entities.slice(page * rowsPerPage, page * rowsPerPage + rowsPerPage) ">
                <td>
                  <div class="pictureCell">
                  <a href="javascript:void(0)" (click)="ShowPicture(entity)"  class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                    <img style="width:30px;height: 30px;" alt="Image placeholder" 
                      [src]="entity.photoUrl ? appENV.imagesUrl+entity.photoUrl : appENV.defaultImage"
                      class="avatar rounded-circle">
                  </a>
                  <span style="margin-left: 15px;">{{ entity.name }}</span>
                  
                  </div>
                </td>
                <td>{{ entity.city }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.vendorId }}</td>
                <td>{{ entity.phone }}</td>              
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" (click)="watchRecord(entity)" href="javascript:void(0)">Ver</a>
                      <a class="dropdown-item" (click)="editRecord(entity)" href="javascript:void(0)">Editar</a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        
        
        <table-footer [entities]="entities" [rowsPerPage]="rowsPerPage" (pageChanged)="onPageChange($event)" ></table-footer>
        

      </div>
    </div>
  </div>
</div>

<app-picture-modal [picture]="supplierImage" ></app-picture-modal>

