<div class="header pb-8 pt-5 pt-lg-8 d-flex" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
</div>
  <div class="container-fluid mt--7">
    <div class="row" id="overImage">
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" #userForm>
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Cuenta de usuario</h3>
              </div>
              <div class="col-4 text-right">
                <button class="btn btn-sm btn-primary" 
                [disabled]=" mode === 'view' "
                type="submit">Guardar</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            
              <h6 class="heading-small text-muted mb-4">Información de usuarion</h6>
              <div class="pl-lg-4">
                <div class="row">                  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Correo electrónico</label>
                      <input type="email"
                       id="input-email"
                       class="form-control form-control-alternative"
                       formControlName="email"
                       placeholder="jesse@example.com">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Nombres</label>
                      <input
                       type="text"
                       id="input-first-name"
                       class="form-control form-control-alternative"
                       placeholder="Primer nombre"
                       formControlName="name" required>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Apellidos</label>
                      <input
                       type="text"
                       id="input-last-name"
                       class="form-control form-control-alternative"
                       placeholder="Last name"
                       formControlName="lastName"
                       >
                    </div>
                  </div>
                  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="exampleFormControlSelect1">Tipo de identificación</label>
                      <select class="form-control form-control-alternative" 
                      formControlName="documentType">
                        <option>Selecciona</option>
                        <option value="CC" >Cédula</option>
                        <option value="PS" >Pasaporte</option>
                        <option value="CE" >Cédula de extranjería</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Número de identificación</label>
                      <input type="text"
                        id="input-country"
                        class="form-control form-control-alternative"
                        placeholder="Teléfono fijo"
                        formControlName="documentNumber">
                    </div>
                  </div>


                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Imagen de usuario</label>
                      <input type="number"
                        type="file"
                        class="form-control form-control-alternative"
                        [disabled]=" mode === 'view' "
                        (change)="onFileSelect($event)"
                      >
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="formGroup" style="display: flex; justify-content: center; align-items: center; height: 100%;">
                      <a href="javascript:void(0)" (click)="ShowPicture()"  class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                        <img style="width:70px;height: 70px;" alt="Image placeholder" [src]="userImage" class="avatar rounded-circle">
                      </a>
                    </div>
                  </div>

                </div>

              </div>
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Información de contacto</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Dirección</label>
                      <input 
                        id="input-address"
                        class="form-control form-control-alternative"
                        placeholder="Dirección"
                        type="text"
                        formControlName="address"
                      >                        
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country">Teléfono</label>
                      <input type="text"
                       id="input-country"
                       class="form-control form-control-alternative"
                       placeholder="Teléfono"
                       formControlName="phone">
                    </div>
                  </div>
            
                </div>
              </div>
              <hr class="my-4" />
              <!-- Description -->
              
              <h6 class="heading-small text-muted mb-4">Sistema</h6>
              <div class="pl-lg-4">
                
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                        <label class="form-control-label" for="input-username">Contraseña</label>
                        <input type="password"
                         id="input-password"
                         class="form-control form-control-alternative"
                         #password
                         [disabled]=" mode === 'view' "
                         >
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                        <label class="form-control-label" for="input-email">Confirmar contraseña</label>
                        <input type="password"
                         id="input-confirm"
                         class="form-control form-control-alternative"
                         #confirmPassword
                         [disabled]=" mode === 'view' "
                        >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                        <label class="form-control-label" for="input-email">Rol de usuario</label>
                          <select class="form-control form-control-alternative" 
                            formControlName="role">
                          <option>Selecciona</option>
                          <option value="ADMIN" >Administrador</option>
                          <option value="OPERATOR" >Operador</option>
                          <option value="AUDITOR" >Auditor</option>
                        </select>
                          </div>
                    </div>
                </div>

              </div>

          
          </div>

        </form>


        </div>
      </div>
    </div>
  </div>
  
<app-picture-modal [picture]="userImage" ></app-picture-modal>


